{plugins,
 [rebar3_appup_plugin]
}.

{erl_opts, [debug_info]}.

{deps, []}.

{shell,
 [{apps, [helloworld]}]
}.

{relx,
 [{release, {helloworld, "0.1.0"},
   [helloworld, sasl]},
  {release, {helloworld, "0.2.0"},
   [helloworld, sasl]},

  {dev_mode, true},
  {include_erts, false},
  
  {extended_start_script, true}]
}.

{profiles,
 [{prod,
   [{relx,
     [{dev_mode, false},
      {include_erts, true}]
    }]
  }]
}.

{provider_hooks,
 [{post,
   [{compile,
     {appup, compile}},
    {clean,
     {appup, clean}}]
  }]
}.

